In [1]:
import re
import nltk
import string
import unicodedata
import spacy

In [24]:
with open('stopwords.txt') as f:
    stopwords = f.read().split(', ')

stemmer = nltk.stem.SnowballStemmer('portuguese')
corpus = []

with open('true1.txt',encoding='utf8') as f:
    sentences = nltk.sent_tokenize(f.read())
    for i in range(len(sentences)):
        review = re.sub('[^a-zA-Z]',' ',sentences[i])
        review = review.lower()
        review = review.split()
        review = [stemmer.stem(word) for word in review if not word in set(stopwords)]
        review = ' '.join(review)
        corpus.append(review)
corpus

['pod decid expuls deput federal carl gaguim part ap s pol cia federal faz busc apreens es gabinet c mar',
 'legend abre espa receb senador expuls pmdb kat abreu',
 'mei not legend inform afast parlament j algo acord fili sigl',
 'aind parlament comunic conclus desfil seman diant fat notic hoj execut nacional pod solicit imediat cancel fil quadr part',
 'part pass cheg cogit lan ar parlament candidat sen diz apo investig ampla apur eventu crim comet consequent responsabiliz envolv tod pun m xim rigor lei independent pos carg ocup']

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()

pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,0,0,0,0,0,0,1,0,1,0,...,0,1,1,0,1,0,0,0,1,1

In [1]:
len(set(' '.join(corpus).split()))

NameError: name 'corpus' is not defined